

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>About Travel Tripper</h1>
                <hr>
                <p>Your strategic partner in hotel distribution and e-commerce.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <hr class="light">
                    <p class="text-faded">Travel Tripper is a full-service hotel web technology provider and strategic partner in helping hotels worldwide to optimize conversions, expand reach, and generate demand. We power properties with innovative technological solutions, including RezTrip, our industry leading central reservation system and hotel booking engine, and Travel Tripper Web, our fully integrated website and mobile platform.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The "suite" solution from search to stay</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>CRS & Distribution</h3>
                        <p class="text-muted">Travel Tripper CRS is your most powerful tool in managing room rates, inventory, and reservations. Our platform provides comprehensive hotel distribution to all major channels, seamless connectivity to the major PMS/RMS services, and robust tools for pricing and revenue management.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Booking Engine</h3>
                        <p class="text-muted">Find out why hotels love RezTrip, Travel Tripper's innovative booking engine. With its sleek, user—friendly booking flow and unique features such as Automated Best Rate Guarantee, this booking engine is designed to optimize conversions through your most profitable channel—your website.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">Introducing Travel Tripper Web, a cloud web and booking platform designed specifically for hotels to entice travelers and drive direct bookings. Create stunning responsive websites perfect for web and mobile, and tap into intelligent features such as dynamic rate integration and interactive maps and calendars.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hospital
                                </div>
                                <div class="project-name">
                                    Project1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ecommerce
                                </div>
                                <div class="project-name">
                                    Project2
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Business
                                </div>
                                <div class="project-name">
                                    Project 3
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Restaurant
                                </div>
                                <div class="project-name">
                                    Project 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Travel
                                </div>
                                <div class="project-name">
                                    Project 5
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Find out how Travel Tripper can help your hotel increase direct bookings and maximize revenue.</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">REQUEST A DEMO</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+44-02038085753</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto: hello@traveltripper.com">Say Hello →</a></p>
                </div>
            </div>
        </div>
    </section>

<%if user_signed_in? and !@page_design.nil?%>
<style type="text/css">
#mainNav{
  background: <%=@page_design.header_bg_color unless @page_design.header_bg_color.nil?%>;
}
#page-top{
background-color : <%=@page_design.body_bg_color%>;
font-family: <%=@page_design.page_font%>;
}
header,#about{
  background: <%=@page_design.about_bg_color%>;
}
#services{
   background-color: <%=@page_design.services_bg_color%>;
}
.bg-dark{
   background-color: <%=@page_design.portfolio_bg_color%>;
}
#contact{
   background-color: <%=@page_design.footer_bg_color%>;
}
</style>
<%end%>